<p id="notice"><%= notice %></p>

<div><%= @item.description %></div>
<div><%= @item.is_featured %></div>
<div><%= @item.finished_at %></div>
<div><%= @item.item_type %></div>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

<% if @item.gallery? %>
    <%= render "seven_portfolio/item_gallery/photos/form" %>
<% elsif @item.video? %>
    <%= render "seven_portfolio/item_videos/show" %>
<% end %>
