<p id="notice"><%= notice %></p>

<h1>Listing Item Videos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_videos.each do |item_video| %>
      <tr>
        <td><%= link_to 'Show', item_video %></td>
        <td><%= link_to 'Edit', edit_item_video_path(item_video) %></td>
        <td><%= link_to 'Destroy', item_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item video', new_item_video_path %>
